@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Engagement&family=Montserrat:wght@300&family=Poppins:ital,wght@0,300;0,500;0,600;0,800;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-image: #242424; */

  background-position: center center;


}

.blured {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.brandname {
  font-family: "Dancing Script"
}

/* .Typewriter__wrapper {
  position: fixed;
} */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;

}

* {
  scrollbar-width: thin;
  /* scrollbar-color: red; */
  

}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  /* background: white; */
}

*::-webkit-scrollbar-track {
  /* background: black; */
  /* background-image: linear-gradient(#242424, #101010); */
  /* border-radius: 5px; */
}