@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Engagement&family=Inter:wght@300&family=Open+Sans:wght@300&family=Montserrat:wght@300&family=Poppins:ital,wght@0,300;0,500;0,600;0,800;1,400;1,700;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700family=Poppins:wght@500&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", "Poppins", Arial, sans-serif, "Open Sans", "Inter";
  line-height: 1.5;
  color-scheme: light dark;
  background-position: center center;
  --lightmode: white;
  --darkmode: black;
}

.blured {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.brandname {
  font-family: "Dancing Script";
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  scrollbar-width: thin;
  /* scrollbar-color: red; */
  scroll-behavior: smooth;
}
